*~
*.a
*.la
*.lo
*.o
*.so
*ib_doublewrite
*ib_logfile0
*ib_logfile1
*ibdata1
.*
*.pid
auto.cnf
ca-key.pem
ca.pem
client-cert.pem
client-key.pem
d93968ae824c.pid
general.log
ib_buffer_pool
ibtmp1
laravel/
mysql/
performance_schema/
private_key.pem
public_key.pem
server-cert.pem
server-key.pem
sys
